
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong>API Host: </strong> <a href="http://13.49.137.194:5000">http://13.49.137.194:5000</a></p>

<a target="_blank" href="http://13.49.137.194:5000/get_demand?start_date=2022-01-01T00:00&end_date=2022-01-30T23:00&chart_type=line&orientation=v">
    <p><strong>Chart Type:</strong> Line <strong>Orientation:</strong> Vertical</p>
</a>
<a target="_blank" href="http://13.49.137.194:5000/get_demand?start_date=2022-01-01T00:00&end_date=2022-01-30T23:00&chart_type=line&orientation=h">
    <p><strong>Chart Type:</strong> Line <strong>Orientation:</strong> Horizontal</p>
</a>

<a target="_blank" href="http://13.49.137.194:5000/get_demand?start_date=2022-01-01T00:00&end_date=2022-01-30T23:00&chart_type=bar&orientation=v">
    <p><strong>Chart Type:</strong> Bar <strong>Orientation:</strong> Vertical</p>
</a>
<a target="_blank" href="http://13.49.137.194:5000/get_demand?start_date=2022-01-01T00:00&end_date=2022-01-30T23:00&chart_type=bar&orientation=h">
    <p><strong>Chart Type:</strong> Bar <strong>Orientation:</strong> Horizontal</p>
</a>

<strong>Integrantes</strong>
Yaritza M. V
Selvie C. D
</body>
</html>
